* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 8000px) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        height: 8em;
        background-color: grey;
    }
    
    .img__logo {
        width: 7em;
        height: auto;
        filter: drop-shadow(4px 4px 4px #ffffff);
    }
    
    .img__logo:hover {
        transform: scale(1.2);
        transition: ease-in-out 0.s;
    }
    
    .navbar__container ul {
        list-style: none;
        display: flex;
        gap: 3em;
    }
    
    .navbar__container a {
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    .navbar__container a:hover {
        color: #ffffff
    }
    
    .fa-bars,
    .icon {
        font-size: 1.5em;
        display: none;
        color: black;
    }
    
    .fa-bars:hover {
        color: #ffffff;
        transform: scale(1.4);
        transition: ease-in-out 0.1s;
    }
}

@media screen and (max-width: 900px) {
    .navigation {
        height: 5em;
        justify-content: space-around;
    }

    .img__logo {
        width: 4em;
    }

    .navbar__container a {
        display: none;
    }

    .fa-bars,
    .icon {
        display: contents;
    } 
}